body{
    background-color: black;
}
.user_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  div{
    padding: 10px;
    margin-bottom: 10px;
  }
}